@charset "utf-8";
#content{
	height:auto;
}
#content #content_main{
	width: 1180px;
	height: 1796px;
	background: #fff;
	padding: 10px;
}
#content #content_main #main_left{
	width: 850px;
	height: 1800px;
	float: left;
	margin: 0 10px 0 0;
}
#content #content_main #main_left #adv{
	width: 850px;
	height: 290px;
	overflow:hidden;
}
#content #content_main #main_left #main_left_main{
	width: 850px;
	height: 1600px;
}
#content #content_main #main_left #main_left_main h1{
	height: 38px;
	line-height: 38px;
	color: #81a304;
	background:#fff url(../images/activity_body.gif) no-repeat -1186px 13px;
	padding: 0 0 0 22px;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px dashed #ccc;
}
#content #content_main #main_left #main_left_main div#activity{
	width: auto;
	height: auto;
}
#content #content_main #main_left #main_left_main dl{
	padding: 20px 0 20px 5px;
	width: 845px;
	height: 160px;
	border-bottom: 1px dashed #ccc;
	position: relative;
	transition:all 0.1s;
}
#content #content_main #main_left #main_left_main dl:hover{
	box-shadow: -1px 0px 10px rgba(0,0,0,0.35);
}
#content #content_main #main_left #main_left_main dl dt{
	font-size: 16px;
	padding: 0 0 10px 0;
}
#content #content_main #main_left #main_left_main dl dt a{
	color: #000;
}
#content #content_main #main_left #main_left_main dl dt a:hover{
	color: orange;
	text-decoration:none;
}
#content #content_main #main_left #main_left_main dl dd{
	padding: 2px 0;
	color: orange;
	width: 590px;
	height: 20px;
}
#content #content_main #main_left #main_left_main dl dd span{
	color: #666;
}
#content #content_main #main_left #main_left_main dl p {
	padding: 5px 0 0 0;
	text-indent: 20px;
	line-height: 180%;
}
#content #content_main #main_left #main_left_main dl p a{
	font-size: 14px;
	color: #666;
}
#content #content_main #main_left #main_left_main dl dd.img{
	width: 212px;
	position: absolute;
	top: 21px;
	left: 630px;
}
#content #content_main #main_left #main_left_main dl img{
	display: block;
	width: 212px;
	height: 155px;
	transition: all 0.1s;
}
#content #content_main #main_left #main_left_main dl img:hover{
	cursor: pointer;
	opacity: 0.9;
}
#content #content_main #main_left #main_left_main #page{
	width: 850px;
	height: 30px;
	margin: 18px 0 0 0;
	padding: 0 0 0 300px;
}
#content #content_main #main_left #main_left_main #page form input.submit{
	border: 1px solid #999;
	cursor: pointer;
	color: #888;
	float: left;
	width: 35px;
	height: 28px;
	background:rgba(0,0,0,0.1);
}
#content #content_main #main_left #main_left_main #page form input.next{
	width: 50px;
	margin: 0 0 0 5px;
}
#content #content_main #main_left #main_left_main #page ul {
	
}
#content #content_main #main_left #main_left_main #page ul li{
	float: left;
	text-align: center;
	line-height: 25px;
	border: 1px solid #999;
	margin: 0 0 0 5px;
}
#content #content_main #main_left #main_left_main #page ul li a.first{
	background:rgba(0,0,0,0.2);
	color: #f96003;

}
#content #content_main #main_left #main_left_main #page ul li a{
	display: block;
	width: 25px;
	height: 25px;
	color: #666;
	text-decoration: none;
}
#content #content_main #main_left #main_left_main #page ul li a:hover{
	background: #ccc;
	color: #f96003;
}





#content #content_main #main_right{
	width: 320px;
	height: 1800px;
	float: left;
}
#content #content_main #main_right h1#logo{
	width: 320px;
	height: 290px;
	margin: 0 0 13px 0;
	position: relative;
	overflow: hidden;
}
#content #content_main #main_right h1 div.logo_basic{
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
#content #content_main #main_right h1 img{
	display: block;
	width: 320px;
	height: 290px;
	transition: all 0.3s;
	z-index: 2;
}
#content #content_main #main_right #people{
	width: 320px;
	height: 380px;
}
#content #content_main #main_right #people h1{
	width: 300px;
	height: 30px;
	background: #717070 url(../images/first.png) no-repeat 3px center;
	padding: 0 0 0 20px;
	font-size: 17px;
	color: #fff;
	line-height: 28px;
	font-weight: normal;
}
#content #content_main #main_right #people ul#stylist {
	padding: 10px 0 10px 0;
	width: 320px;
	height: 350px;
}
#content #content_main #main_right #people ul#stylist li {
	padding: 6px 0;
	float: left;
	width: 320px;
	height: 22px;
	line-height: 23px;
}
#content #content_main #main_right #people ul#stylist li:hover{
	cursor: pointer;
}
#content #content_main #main_right #people ul#stylist li:hover > strong a{
	color: orange !important;
}
#content #content_main #main_right #people ul#stylist li:hover > span.people{
	color: orange !important;
}
#content #content_main #main_right #people ul#stylist li:hover > span.list{
	background: orange;
	border:1px solid orange;
}
#content #content_main #main_right #people ul#stylist li:hover > span.list a{
	color: #fff;
}
#content #content_main #main_right #people ul#stylist li span.list{
	display: block;
	text-align: center;
	background: #98928f;
	width: 15px;
	height: 20px;
	border: 1px solid #98928f;
	border-radius: 3px;
	float: left;
	color: #fff;
	font-size: 14.6px;
	margin: 0 8px 0 0;
}
#content #content_main #main_right #people ul#stylist li span.list a{
	color: #fff;
}
#content #content_main #main_right #people ul#stylist li span.first{
	background: #fbb73a;
	border: 1px solid #fbb73a;
}
#content #content_main #main_right #people ul#stylist li img{
	display: block;
	width: 21px;
	height: 21px;
	margin: 0 8px 0 0;
	float: left;
}
#content #content_main #main_right #people ul#stylist li img:hover{
	cursor: pointer;
	opacity: 0.6;
}
#content #content_main #main_right #people ul#stylist li strong{
	float: left;
	color: #666;
}
#content #content_main #main_right #people ul#stylist li strong a{
	height: 22px;
	color: #666;
	margin: 0 20px 0 0;
	font-size: 14px;
}
#content #content_main #main_right #people ul#stylist li strong a.a_first{
	color: orange;
	text-decoration: none;
}
#content #content_main #main_right #people ul#stylist li strong a:hover{
	color: orange;
	text-decoration: none;
}
#content #content_main #main_right #people ul#stylist li span.people{
	color: #666;
	margin: 0 10px 0 0;
	float: left;
}
#content #content_main #main_right #people ul#stylist li span.people_first{
	color: orange;
}
#content #content_main #main_right #people ul#stylist li span.pay{
	color: #666;
	width: 30px;
	height: 23px;
	background: url(../images/list_ico.jpg) no-repeat left center;
	padding: 0 0 0 20px;
	float: left;
}
#content #content_main #main_right #people ul#stylist li em{
	display: block;
	width: 36px;
	height: 20px;
	background: #999;
	color: #fff;
	border-radius: 2px;
	text-align: center;
	font-style: normal;
	line-height: 20px;
	float: right;
}
#content #content_main #main_right #people ul#stylist li em:hover{
	background: orange;
}
/* js */
#buoy{position:absolute;width:85px;height:2px;background:orange;bottom:5px;left:-100px;}
/* js */
/*js class*/
img{
	transition:all .3s;
}
img:hover{
	cursor:pointer;
	opacity:0.9;
}
/* c1_l */
.c1_l{width:850px;height:290px;margin:0px auto 0 auto;}
#c1_slide img{width:850px;height:290px;}
.c1_slide{width:850px;height:290px;position:relative;overflow:hidden;}
.c1_slide ul{width:3500px;height:290px;position:absolute;top:0;left:0;}
.c1_slide li{float:left;width:850px;height:100%;position:relative;}
.c1_slide li span{display:block;width:385px;height:50px;position:absolute;bottom:9px;left:0;z-index:999;font-size:19px;color:#FFFFFF;text-align:center;}
#c1_paging img{width:139px;height:47px;}
.c1_paging{width:100%;height:62px;background:rgba(130,130,130,0.6) repeat-x 0 0;position:relative;top:-62px;left:0px;padding:0 0 0 380px;}
.c1_paging li{float:left;width:150px;height:65px;position:relative;background:transparent;margin:0 0 0 5px;}
.c1_paging li.active i{display:block;position:absolute;top:4.9px;left:2px;height:47px;width:139px;border:3px solid #bade32;}
.c1_paging li:hover b,.c1_paging li.active b{display:none;}
.c1_paging li img,.c1_paging li b{position:absolute;top:8px;left:5px;}
/*滚动js class*/

/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.right_logo:hover img {
	opacity: 0.8;
}
figure.right_logo figcaption::before,
figure.right_logo figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.right_logo figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1);
	transform: scale(0,1);
}

figure.right_logo figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	transform: scale(1,0);
}
figure.right_logo:hover figcaption::before,
figure.right_logo:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}